<div class="container">
    <div class="row">
    <div class="col" align="center">
        <img class="img" src="/public/assets/images/burger.png" alt="burger logo">
        <h1 class="justify-center-content">Eat The Burger</h1>
    </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>Burgers To Eat</h2>
            <div class="panel-panel default">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>

      <div class="col">
        <h2>Burgers Eaten</h2>
        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>


    <div class="row">
        <h2>Add a Burger</h2>
        <form id="create-form">
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
            <input type="hidden" name="devoured" id="devoured" value="0" checked>
        </div>

        <button class="btn btn-warning btn-lg" type="submit">Submit</button>
        </form>
    </div>

    <div class="row">
        <div class="col" align="center">
            <h2>Add a Burger</h2>
            <form action="" id="create-form">
                <div class="form-group">
                    <label for="ca">Burger Name:</label>
                    <input type="text" id="ca" name="name">
             </div>
                <button class="btn btn-warning btn-lg" type="submit">Submit</button>
            </form>
        </div>
    </div>

</div>
