<div class="container">
    <div class="row">
    <div class="col" align="center">
        <img class="img" src="/public/assets/images/burger.png" alt="burger logo">
        <h1 class="justify-center-content">Eat The Burger</h1>
    </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-1">
            <h2>Burgers To Eat</h2>
            <div class="panel-panel default">
                <ul>
                    {{#each burgers}}
                    {{#unless devoured}}
                    {{> burgers/burger-block devoured=true}}
                    {{/unless}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
            <h2>Burgers Eaten</h2>
            <div class="panel-panel default">
                <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    {{> burgers/burger-block devoured=false}}
                    {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-10 col-md-offset-1">
        <h2>Add a Burger</h2>
        <form id="create-form">
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
            {{!-- hidden but can switch to text to see... KEEP IN MIND IN CASE OF ERROR - also addede chcked to devoured id--}}
            <input type="hidden" name="devoured" id="devoured" value="0" checked>
        </div>

        <button class="btn btn-warning btn-lg" type="submit">Submit</button>
        </form>
    </div>

</div>